{% extends "base.html" %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='eventview.css') }}">
{% endblock %}

{% block content %}
<div class="container">
  <main class="main-content">
    <!-- Section Headers -->
    <div class="section-headers">
      <div class="section-left">
        <div class="section-header-container">
          <h2 class="section-title">explore events</h2>
          <div class="blue-underline"></div>
        </div>
      </div>
    </div>

    <!-- Events List -->
    <div class="events-container">
      {% for event in events %}
      <div class="event-row">
        <div class="event-image-container">
          {% if event.organizer.photo %}
          <div>
            <img class ="event-image" src="{{ url_for('static', filename='images/photo-' ~ event.organizer.photo.id ~ '.' ~ event.organizer.photo.file_extension) }}"
                 alt="Profile photo" width="100">
          </div>
          {% else %}
          <div>
            <img class ="event-image" src="{{ url_for('static', filename='images/default.jpg') }}"
                 alt="Default profile photo" width="100">
          </div>
          {% endif %}
          <p class="event-organizer">{{ event.organizer.name }}</p>

        </div>
        <div class="event-content">
            <p class="hero-title">{{ event.title }} <span class="small-font-weight">at</span> {{ event.location }}</p>
          <p class="hero-hours">From {{ event.start_date.strftime('%I:%M %p') }} to {{ event.end_date.strftime('%I:%M %p') }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </main>
</div>
{% endblock %}
